test.client_id=
test.client_secret=
test.account=
test.password=
test.redirect_url=
test.scopes=files.content.write
webdriver.chrome.driver=/usr/local/bin/chromedriver
com.google.chrome.app=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
