name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      env:
        TEST_ACCOUNT : ${{ secrets.TEST_ACCOUNT }}
        TEST_PASSWORD : ${{ secrets.TEST_PASSWORD }}
        TEST_CLIENT_ID : ${{ secrets.TEST_CLIENT_ID }}
        TEST_CLIENT_SECRET : ${{ secrets.TEST_CLIENT_SECRET }}
        TEST_REDIRECT_URL : ${{ secrets.TEST_REDIRECT_URL }}
      run: |
        mkdir tmp
        mvn -B package --file pom.xml -Dmaven.test.skip=true
